body {
  margin: auto;
}
.nav-bar {
  padding: 10px 0px 5px 20px;
  box-shadow: 0px 0px 8px rgb(110, 108, 108);
  display: flex;
  flex-direction: row;
}

.nav-bar a:hover {
  color: blue;
}

.nav-bar img {
  width: 30%;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 5px;
}

.nav-cat {
  margin-top: 20px;
  margin-left: -200px;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}
.search-bar {
  width: 520px;
  height: 25px;
  border-radius: 30px;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
  margin-top: 5px;
}
.search-bar img {
  width: 3%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.search-bar input {
  margin-left: 2px;
  height: 40px;
  border: none;
  outline: none;
  width: 500px;
  border-radius: 30px;
}

.teach a {
  margin-right: 20px;
}
.teach {
  margin-top: 20px;
  margin-left: 20px;
}

.cart {
  margin-left: -2px;
  margin-top: 10px;
}
.cart img {
  width: 60%;
}

.nav-btn {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.nav-btn1 {
  margin-left: -20px;
}
.nav-btn1 button {
  width: 80px;
  height: 40px;
  font-weight: bolder;
  border: 1px solid;
  background-color: white;
}

.nav-btn1 button:hover {
  background-color: rgb(235, 233, 233);
}

.nav-btn2 {
  margin-left: 20px;
}
.nav-btn2 button {
  width: 80px;
  height: 40px;
  font-weight: bold;
  border: 1px solid;
  background-color: black;
  color: white;
  margin-left: -10px;
}

.globe {
  width: 35px;
  height: 37px;
  margin: 10px -10px 10px 10px;
  border: 1px solid;
  padding: 0px 1px 0px 6px;
}

.globe img {
  width: 50%;
}

.globe:hover {
  background-color: rgb(235, 233, 233);
}

.container img {
  /* position: relative; */
  /* font-family: Arial; */
  width: 100%;
}

.text-block {
  position: absolute;
  bottom: 320px;
  right: 820px;
  background-color: white;
  padding: 0px 50px 5px 20px;
  box-shadow: 0px 0px 4px grey;
}

.text-block h1 {
  font-size: 38px;
  margin-bottom: -10px;
}

.text-block p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.selection {
  padding-left: 40px;
  margin-top: 50px;
}

.choose {
  padding-left: 40px;
  font-size: 20px;
}

.choose p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 19px;
}

.courses {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
}

.courses a {
  color: rgb(83, 83, 83);
  text-decoration: none;
  margin-right: 20px;
  font-size: 17px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.courses a:hover {
  color: black;
}

.expand {
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid rgb(173, 173, 173);
  margin: 30px;
  margin-left: 40px;
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.expand h1 {
  font-size: 25px;
  margin-left: 3px;
}
.expand p {
  font-size: 16px;
  margin-left: 3px;
}

.explore-btn button {
  width: 10%;
  height: 40px;
  font-weight: bold;
  background-color: white;
  border: 1px solid;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.explore-btn button:hover {
  background-color: rgb(235, 233, 233);
}

.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  width: 20%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: -4px;
}

.card h3 {
  font-size: 16px;
  margin-top: -5px;
  margin-left: 5px;
}

.cardSec1 span {
  color: grey;
  font-size: 12px;
  margin-left: 5px;
}

.cardSec1 h3 {
  margin-bottom: 5px;
}

.rating {
  display: flex;
  flex-direction: row;
}
.rating p {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 1px;
  font-weight: bold;
  color: rgb(141, 44, 9);
}
.rating img {
  width: 25%;
  margin-top: -18px;
  margin-right: 5px;
}
.rating span {
  color: grey;
  font-size: 13px;
  margin-top: 3px;
}

.price {
  display: flex;
  flex-direction: row;
}
.price h3 {
  margin-top: -20px;
}

.price span {
  color: grey;
  margin-top: -19px;
  margin-left: 10px;
  font-size: 15px;
}

.bestseller {
  background-color: rgb(245, 238, 137);
  width: 70px;
  margin-top: -12px;
  font-weight: bold;
}

.bestseller p {
  font-size: 12px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.content-1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 247, 247);
  padding-left: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.sub-content {
  display: flex;
  flex-direction: row;
  width: 350px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sub-content h4 {
  margin-left: 10px;
}

.sub-content img {
  width: 20px;
  height: 20px;
  background-color: rgb(194, 194, 194);
  border-radius: 50px;
  padding: 10px;
  margin-top: 25px;
}

.sub2 {
  margin-left: 100px;
}

.sub3 {
  margin-left: 130px;
}

.view {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 40px;
  font-size: 17px;
}

.card-container2 {
  margin-left: 40px;
  margin-top: -10px;
  margin-bottom: 80px;
}

.featured-container {
  background-color: rgb(247, 247, 247);
  padding-top: 30px;
  padding-bottom: 30px;
}

.featured {
  padding-left: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.category-container {
  padding-left: 40px;
  display: flex;
  flex-direction: row;
}

.sub-container {
  margin-right: 180px;
}
.sub-container p {
  margin-top: 5px;
  color: grey;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.sub-container h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sub-container a {
  font-weight: bold;
  font-size: 17px;
  color: rgb(77, 28, 192);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.explore2 {
  padding-left: 40px;
}

.explore2 button {
  width: 12%;
}

.content-2 {
  text-align: center;
  margin-top: 80px;
}

.content-2 p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -13px;
}

.trusted-logo img {
  margin-right: 70px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.business-container {
  margin-left: 250px;
  display: flex;
}
.business-container img {
  width: 20%;
}

.udemy-logo {
  display: flex;
  flex-direction: row;
}

.udemy-logo img {
  width: 90px;
}

.udemy-logo h3 {
  font-size: 30px;
  font-weight: normal;
  color: rgb(194, 75, 194);
  margin-left: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.upskill-1 {
  margin-top: 50px;
  width: 35%;
  margin-right: 80px;
}

.upskill-1 h1 {
  font-size: 39px;
  margin-top: -15px;
}

.upskill-1 p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: -6px;
}

.upskill img {
  width: 100%;
  margin-top: 90px;
}

.upskill-btn {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.upskill-btn1 button {
  width: 110%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.upskill-btn2 button {
  width: 110%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  background-color: white;
  margin-top: 1px;
  border: 1px solid;
  margin-left: 25px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.instructor {
  display: flex;
  margin-left: 250px;
  margin-top: 50px;
}

.instructor-text {
  margin-top: 70px;
  margin-left: 70px;
  width: 38%;
}

.instructor-text h1 {
  font-size: 38px;
  margin-bottom: -5px;
}

.instructor-text p {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.instructor button {
  width: 45%;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-container {
  background-color: black;
}

.footer-section {
  display: flex;
  background-color: black;
  color: white;
  margin-top: 80px;
  padding: 20px 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-top: 10px;
  margin-right: 150px;
}

.footer-section a {
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-button {
  margin-left: 230px;
}

.footer-button button {
  width: 180%;
  height: 40px;
  border: 1px solid white;
  background-color: black;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-right: 10px;
}

.footer-button img {
  margin-right: 12px;
  margin-left: -15px;
  margin-bottom: -3px;
}

.footer-logo {
  margin-left: 35px;
  padding-bottom: 20px;
}

